:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --link-color: #007bff;
  --section-background-color: #f6f6f6;
  --main-font-size: 1.125rem;
  --extra-bold-font-weight: 800;
  --text-line-height: 1.8;
  --light-text-color: #777;
  --section-padding: 3.75rem;
  --gap: 1.875rem;
  --column-min-width: 18.75rem;
  scroll-behavior: smooth;
}
/** Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
body::-moz-selection {
  background-color: var(--main-color);
  color: black;
}
body::selection {
  background-color: var(--main-color);
  color: black;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
svg {
  fill: currentColor;
}
/* Media queries */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/** End Global Rules */

/** Start Components */
/* Special Heading */
.special-heading {
  color: #ebeced;
  font-size: 6.25rem;
  letter-spacing: -0.1875rem;
  text-align: center;
  margin: 0;
}
.special-heading + p {
  text-align: center;
  margin-top: -1.875rem;
  font-size: var(--main-font-size);
  color: var(--light-text-color);
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 3.75rem;
  }
  .special-heading + p {
    margin-top: -1rem;
  }
}
/* Feature Card */
.feature-card .feature-text {
  color: var(--light-text-color);
  margin-top: var(--gap);
  margin-bottom: var(--gap);
  line-height: 1.6;
}
/** End Components */

/** Start Header Section */
header {
  padding: 1.25rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 3.75rem;
}
header .links {
  position: relative;
}
.fa-solid.fa-bars {
  font-size: 1.5rem;
  width: 100%;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* Bar icon hover animation */
.fa-solid.fa-bars:hover {
  transform: rotate(90deg);
  color: var(--main-color);
}
header .links ul {
  list-style: none;
  padding: 0;
  background-color: var(--section-background-color);
  position: absolute;
  right: 0;
  top: calc(100% + 0.9375rem);
  min-width: 12.5rem;
  /* Not visible until hover */
  display: none;
  z-index: 1;
}
header .links:hover ul {
  /* Visible */
  display: block;
}
/* The arrow */
header .links ul::before {
  content: "";
  position: absolute;
  top: 0;
  /* To be at horizontal center of the bar icon */
  right: 0.3125rem;
  transform: translate(0, -100%);
  /* Make up arrow */
  border: 0.625rem solid transparent;
  border-bottom-color: var(--section-background-color);
}
header .links ul a {
  text-decoration: none;
  display: block;
  padding: 0.9375rem;
  color: var(--link-color);
  transition: 0.3s;
}
/* Setting bottom border to all a except the last child */
header .links ul li:not(:last-child) a {
  border-bottom: 0.0625rem solid #ddd;
}
header .links ul a:hover {
  padding-left: 1.875rem;
  color: #0044ff;
}
/** Start Header Section */

/** Start Landing Section */
.landing {
  position: relative;
  background-image: url("../assets/images/landing.jpg");
  background-size: cover;
  /* The height of page - the header height */
  height: calc(100vh - 4.05rem);
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 20rem;
  /* So it doesn't go out of any container or screen */
  max-width: 100%;
}
.landing .intro-text h1 {
  /* To not make the landing area bigger than the screen height */
  margin: 0;
  font-weight: bold;
  font-size: 3.125rem;
  color: var(--main-color);
  margin-bottom: 1.25rem;
}
.landing .intro-text p {
  font-size: var(--main-font-size);
  line-height: var(--text-line-height);
}
/** End Landing Section */

/** Start Feature Section */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
  min-height: 50vh;
}
.features .container {
  display: grid;
  /* So in small screens take one columns and more on bigger screens */
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min-width), 1fr));
  gap: var(--gap);
}
.features .container .feet {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* To look better */
  gap: calc(var(--gap));
  padding: var(--gap);
}
.features .container .feet i {
  color: var(--main-color);
}
.features .container .feet h3 {
  font-weight: var(--extra-bold-font-weight);
}
.features .container .feet p {
  color: var(--light-text-color);
  font-size: 1.0625rem;
  line-height: var(--text-line-height);
}
/** End Feature Section */

/** Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min-width), 1fr));
  gap: 1.875rem;
  margin-top: var(--section-padding);
}
.services .services-content .srv {
  display: flex;
  padding: 1.25rem;
  gap: 1.625rem;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .services .services-content .srv i {
    margin-bottom: 0.625rem;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  /* To be aligned with service content */
  margin-top: 1rem;
}
.services .services-content img {
  width: 16.25rem;
}

.services .services-content .image {
  position: relative;
  text-align: center;
  /* Same image width */
  width: 16.25rem;
}
/* Long rectangle after image */
.services .services-content .image::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  height: calc(100% + 6.25rem);
  width: 40%;
  background-color: var(--secondary-color);
  z-index: -1;
}
@media (max-width: 1199px) {
  .services .services-content .image {
    display: none;
  }
}
/** End Services */

/** Start Portfolio */
.portfolio {
  background-color: var(--section-background-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-min-width), 1fr));
  gap: var(--gap);
  margin-top: var(--section-padding);
}
.portfolio .portfolio-content .col {
  background-color: white;
}
.portfolio .portfolio-content .col img {
  max-width: 100%;
}
.portfolio .portfolio-content .col .feature-card {
  padding: 1.25rem;
  padding-bottom: 0;
}
/** End Portfolio */

/** Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 3.75rem);
}
.about .about-content {
  margin-top: 6.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 15.625rem;
  height: 23.4375rem;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 3.75rem;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: -1.25rem;
  height: calc(100% + 5rem);
  width: 40%;
  background-color: #ebeced;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  right: -9.375rem;
  top: -2.5rem;
  width: 7.5rem;
  height: 18.75rem;
  border-left: 5rem solid var(--main-color);
  border-bottom: 5rem solid var(--main-color);
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 28.125rem);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 3.125rem;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
  margin: 0.5rem 0;
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: var(--light-text-color);
  margin: 1rem 0;
}
/** End About */

/** Start Contact */
.contact {
  background-color: var(--section-background-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label,
.contact .info a {
  font-size: 2.1875rem;
  font-weight: var(--extra-bold-font-weight);
}
.contact .info .label {
  color: var(--secondary-color);
  letter-spacing: -0.125rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.contact .info a {
  display: block;
  color: var(--main-color);
  text-decoration: none;
}
.contact .social {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  margin-top: 1rem;
}
.contact .social svg {
  width: 1.125rem;
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info a {
    font-size: 1.5625rem;
  }
}
/** End Contact */

/** Start Footer */
footer {
  background-color: var(--secondary-color);
  padding: 1.875rem .625rem;
  color: white;
  font-size: 1.125rem;
  text-align: center;
}
footer span {
  color: var(--main-color);
  font-weight: bold;
}
/** End Footer */
